.question-container {
        max-width: 1200px;
        margin: 200px auto;
        display: flex;
				justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button {
				font-size: 20px;

}

.button-parent{
  justify-content: center;
  margin: 2rem 0;
}
