

<mat-card class="question-form-container">
  <mat-card-content>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label *ngFor="let type of jsonFormData?.types">
          <label *ngFor="let control of type.values">
            <li>
              <span class="choice-container">
                <label class="name">{{ control.name }}</label>
                <label class="description">{{ control.description }}</label>
                <div>
                  <input [type]="control.type" [formControlName]="control.name" [value]="control.value" required>
                  <div *ngIf="myForm.controls[control.name].hasError('max')" class="alert alert-danger">
                    Max required number is <strong>{{control.validators.max}}MM</strong>.
                  </div>
                  <div *ngIf="myForm.controls[control.name].hasError('min')" class="alert alert-danger">
                    Min required number is <strong>{{control.validators.min}}MM</strong>.
                  </div>
                </div>
              </span>

            </li>
          </label>
          <button mat-raised-button class="btn btn-success" color="primary" type="submit">Submit</button>
        </label>
      </div>
    </form>

  </mat-card-content>


</mat-card>
